blockquote > * {
    display: block;
}

blockquote p {
    font-size: larger;
}

blockquote dt:after {
    content: ":";
}

blockquote dd {
    color: #666666;
}

h5 > strong.problem {
    color: #e01b8d;
}
